<h1>Knights of Ren</h1>

<div class="chessboard">
   
   <!-- 1st row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 2nd row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
   <!-- 3rd row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 4th row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
   <!-- 5th row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 6th row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
   <!-- 7th row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 8th row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
</div>