<h1><%= current_game.inspect %></h1>
<p><%= current_game.name %></p>

<div class="chessboard">
   
   <!-- 1st row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 2nd row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
   <!-- 3rd row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 4th row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
   <!-- 5th row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 6th row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
   <!-- 7th row -->
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   
   <!-- 8th row -->
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   <div class="white-tile"></div>
   <div class="black-tile"></div>
   
</div>

<p><%= link_to 'Edit/Update', edit_game_path(current_game) %></p>
<p><%= link_to 'Delete', '#', method: :delete %></p>
