body { 
  padding-top: 50px; 
  background: url("sayagata.png");
}

h2 {
  margin-top: 0px;
  font-size: 25px;
  color:#3f3f3f;
}

h3 a{
  color:#f9f9f9;
}

h3 a:hover{
  color:#f3f3f3;  
}

h4 a{
  color:#525252;
}

h4 a:hover{
  color:#525252;  
}

.form-background {
  background-color: #fffafa;
  width: 680px;
  margin: 0 auto;
  padding: 20px;
}

.game-interface {
  min-width: 1080px;
}

.game-background {
  width: 680px;
  height: 680px;
  background: url("bg.png");
  margin: 0 auto;
  border-radius: 12px;
}
.chessboard {
  width: 640px;
  height: 640px;
  margin: 0 auto;
}
.black-tile {
  float: left;
  width: 80px;
  height: 80px;
  background-color: silver;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.white-tile {
  float: left;
  width: 80px;
  height: 80px;
  background-color: white;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.black-tile a:link, .black-tile a:visited, .black-tile a:active,  { 
  color: black;
  text-decoration: none; 
}
.white-tile a:link, .white-tile a:visited, .white-tile a:active,  { 
  color: black;
  text-decoration: none; 
}
.black-tile a:hover { 
  color: #1D62D1;
  text-decoration: none; 
}
.white-tile a:hover {  
  color: #1D62D1;
  text-decoration: none; 
}

.highlight-light {
  box-shadow:         inset 0 0 14px #9dff2c;   
  -moz-box-shadow:    inset 0 0 14px #9dff2c;
  -webkit-box-shadow: inset 0 0 14px #9dff2c;
}

.highlight-dark {
  /* background-color: #d3fdaf; */ 
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  color: #1D62D1;  
}

.clr {
  clear:both;
}

.button {
  border: none;
  background: none;
}

.invisible-text {
  opacity: 0;
}

.side-buffer {
  margin: 0 20px;
}

.alert {
  margin-bottom: 0;
}

.user-dashboard {
  background-color:  #F5EACD;
  border: 2px solid #eeba30;
  border-radius: 20px;
}

.user-dashboard-games-table {
  background-color: white;
  border-radius: 10px;
  margin: 0 20px;
}

#edit-nickname {
  text-align: right;
}

.stats-box {
  padding: 0 10px;
}

.thumbnail {
  height: 220px;
}

.thumbnail > img {
  padding: 10px;
}

.manage-users {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  min-width: 800px;
}

.bbox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:50px;
}

.navbar {
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.chess_bg {
  background: url('chess_bg.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:420px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty h1{
  font-size: 100px;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  margin-top:60px;
}

.frosty h2{
  text-decoration: underline;
}

.frosty {
  background:rbga(0, 0, 0 , 0.5);
  color:#e5e5e5;
  margin-top:50px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  color:#747474;
  background-color:#efefef;
  border-color: #ffffff;
}

.games-list{
  margin-top:180px;
}

.games-list h2{
  text-decoration:underline;
}

.turn {
  background-color: #d3fdaf;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
}